# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Hugo build output
/public/
/resources/
/.hugo_build.lock
/.prettierrc

# VS Code ayarları
.vscode/

# Sistem dosyaları
.DS_Store
Thumbs.db

# Derlenmiş CSS/JS çıktıları
/static/css/tailwind.css
/static/css/main.css
/static/js/*